SECRET_KEY="your-secret-key"  # You can generate a secret key using: python -c "import secrets; print(secrets.token_urlsafe(50))"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1,localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="your-database-name"
POSTGRES_USER="your-database-user"
POSTGRES_PASSWORD="your-database-password"
POSTGRES_HOST="your-database-host"
POSTGRES_PORT="5432"

# MQTT broker configurations
MQTT_HOST="your-mqtt-host"
MQTT_PORT="1883"
MQTT_CLIENT_NAME="your-client-name"
MQTT_KEEPALIVE="60"
MQTT_TOPIC="your-topic"

# CONFIGURAR O EXEMPLE